* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid black; */
}

.info {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid hsla(0, 0%, 0%, 0.02);
    border: 2px solid #40bfbf;
    color: white;
}